<% content_for :title do %>
  Members Only - Sign in
<% end %>

<div class='row'>
  <div class='small-8 small-centered medium-4 columns'>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log in", class: 'button' %>
      <%= f.submit "Cancel", class: 'button' %>
    <% end %>
  </div>
</div>