<h1> The feed </h1>

<%= @posts.each do |post| %>
  <li>
    <%= post.text + ", by "%>
    <% if !cookies[:remember_token].nil? %>
      <%= User.find_by(id: post.user_id).name %>
    <% else %>
      <%= "Anonymous" %>
    <% end %>
  </li>
<% end %>

<%= render 'shared/footer' %>