<% content_for :title do %>
  Members Only - Write Something
<% end %>

<div class='row'>
  <div class='small-10 small-centered medium-8 columns'>
    <%= form_for @post do |f| %>

      <%= f.label :text, 'You get 255 characters. Don\'t fuck up.' %>
      <%= f.text_area :text %>

      <%= f.submit "Save your post", class: 'button' %>
      <%= f.submit "Cancel", class: 'button' %>
    <% end %>
  </div>
</div>